.information__container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: .625rem;
}

.information__container:nth-child(2) {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.information__container:nth-child(2):hover {
    color: #de2b2c;
    transition: all ease-in-out 0.3s;
}

.information__container:last-child{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.information__container:last-child:hover{
    transition: all ease-in-out 0.3s;
    color: #de2b2c;
}

.information__icon{
    color: #de2b2c;
    font-size: 18px;
}

.information__container-content{
    letter-spacing: 1px
}
