.button__consulting{
    position: relative;
    background-color: #f3f3f3;
    color: black;
    border: 1px solid #e5e5e5;
    padding: .75rem 2.375rem;
    transition: all ease-in-out 0.3s;
    border-radius: 1.875rem;
    font-weight: 550;
    line-height: 1.5rem;
    overflow: hidden;
    z-index: 1;
    letter-spacing: .0313rem;
  }

.button__consulting:hover{
    background-color: #de2b2c;
    color: white;
}

.button__consulting::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1.875rem;
    background: rgba(0, 0, 0, 0.1); 
    transform: scale(0, 0);
    transition: all 0.5s ease;
    z-index: -1;
  }

  .button__consulting:hover::after {
    transform: scale(1, 1);
  }


  /* ESTILOS DE BUTTON SECTION  */

  .buttonsection__hero-left .buttonsection__hero-right{
    width: 70px;
    height: 70px;
  }